#body {
  background-color: #fcfcce;
}
#chartdiv {
  width: 49%;
  height: 400px;
  position: absolute;
  top: 35px;
  right: 10px;
  bottom: 10px;
  color: #0bfdfd;
  background-color: beige;
  border: yellowgreen;
  border-style: double;
  border-left: 2in;
  border-width: 5px;
  

}

#chart2
{
  width: 47%;
  height: 400px;
  position: absolute;
  top: 35px;
  right: 45%;
  left: 10px;
  bottom: 20;
  color: #e3fda2;
  background-color: beige;
  border: yellowgreen;
  border-style: double;
  border-width: 5px;

}
#chart3
{
  width: 100%;
  height: 400px;
  position: absolute;
  top: 450px;
  right: 10px;
  left: 10px;
  border: yellowgreen;
  border-width: 5px;
  border-style: double;
  background-color: beige;
}